<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Transition Controller example</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

  <style>
    body {
      padding-top: 100px;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 100%;
    }

    .icon {
      width: 20px;
      height: 20px;
      display: inline-block;
    }

    .tab-content {
     padding: 10px
    }

    section {
      margin: 0 0 50px;
    }

  </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="/">TransitionController example</a>
</nav>

<main role="main" class="container" id="app">
  <ul class="nav nav-tabs">
    <li :class="[{'active': activeTab === 0}]" ><a @click.prevent="handleTabClick(0)" href="#" aria-expanded="true">Example</a></li>
    <li :class="[{'active': activeTab === 1}]"><a @click.prevent="handleTabClick(1)" href="#" aria-expanded="false">Code</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div :class="['tab-pane', 'fade', 'in', {'active': activeTab === 0}]">
      <section>
        <h3 id="example">Example</h3>
        <p>The example uses <a href="https://vuejs.org" target="_blank">vue.js</a> to render out a component. But you can do this for any other framework, the only thing you need to do is extend the AbstractTransitionController and create the a method to get your component instance based on your framework.</p>
        <div class="bs-component">
          <dummy-component ref="DummyComponent"/>
        </div>
        <button :disabled="started" @click="handleStartClick" :class="['btn', 'btn-primary']" v-html="started ? 'Running...' : 'Start'"></button>
      </section>
      <section v-if="events.length">
        <h3 id="events">Events:</h3>
        <ul class="list-group">
          <li class="list-group-item" v-for="(event, index) in events">
            <h5 class="list-group-item-heading">
              <span class="text-primary icon glyphicon glyphicon-chevron-right"></span>
              <span v-html="event.eventType"></span>
            </h5>
            <pre v-if="event.data">{{event.data}}</pre>
          </li>
        </ul>
      </section>
    </div>
    <div :class="['tab-pane', 'fade', 'in', {'active': activeTab === 1}]">
      <section>
        <h3 id="example-code">Example Code</h3>
        <h4>AbstractVueTransitionController.ts</h4>
        <pre class="typescript">import { Vue } from 'vue/types/vue';
import isElement from 'lodash/isElement';
import isString from 'lodash/isString';
import { TimelineLite, TimelineMax } from 'gsap';
import { AbstractTransitionController, TransitionDirection } from 'transition-controller';

export default abstract class AbstractVueTransitionController extends AbstractTransitionController&#60;Vue&#62; {
  /**
   * @public
   * @method getSubTimelineByComponent
   * @param {string | HTMLElement | Vue} component
   * @param {TransitionDirection} direction
   * @returns {TimelineLite | TimelineMax}
   */
  protected getSubTimelineByComponent(
    component: string | HTMLElement | Vue,
    direction: TransitionDirection,
  ): TimelineLite | TimelineMax {
    let instance: any;

    if (isElement(component)) {
      instance = this.parentController.$children.find(child => child.$el === component);
    } else if (isString(component)) {
      const key = Object.keys(this.parentController.$refs).find(key => key === component);
      instance = this.parentController.$refs[key];
    } else {
      instance = component;
    }

    if (instance === undefined) {
      throw new Error(`The requested component [${component}] does not exist`);
    }

    if (direction === TransitionDirection.IN) {
      return instance.transitionController.transitionInTimeline;
    }

    return instance.transitionController.transitionOutTimeline;
  }
}</pre>

        <h4>dummy-component/index.js</h4>
        <pre class="jsx">import DummyComponentTransitionController from './DummyComponentTransitionController';

export default {
  name: 'DummyComponent',
  template: `&#60;div class="panel panel-info"&#62;
                &#60;div class="panel-heading"&#62;
                  &#60;h3 class="panel-title">DummyComponent&#60;/h3&#62;
                &#60;/div&#62;
                &#60;div class="panel-body"&#62;
                  Hi i'm a dummy component
                &#60;/div&#62;
              &#60;/div&#62;`,
  mounted() {
    this.transitionController = new DummyComponentTransitionController(this, {
      debug: true,
      name: 'DummyComponent',
      useTweenMax: false,
    });
  },
};</pre>

        <h4>dummy-component/DummyComponentTransitionController.ts</h4>
        <pre class="typescript">import { TimelineLite, TimelineMax, Elastic } from 'gsap';
import AbstractVueTransitionController from '../AbstractVueTransitionController';

export default class DummyComponentTransitionController extends AbstractVueTransitionController {
  /**
   * @public
   * @method setupTransitionInTimeline
   * @param {gsap.TimelineLite | gsap.TimelineMax} timeline
   */
  public setupTransitionInTimeline(timeline: TimelineLite | TimelineMax): void {
    timeline.fromTo(
      this.parentController.$el,
      1,
      {
        xPercent: 100,
        autoAlpha: 0,
      },
      {
        xPercent: 0,
        autoAlpha: 1,
        ease: Elastic.easeOut,
      },
    );
  }

  /**
   * @public
   * @method setupTransitionOutTimeline
   * @param {gsap.TimelineLite | gsap.TimelineMax} timeline
   */
  public setupTransitionOutTimeline(timeline: TimelineLite | TimelineMax): void {
    timeline.to(this.parentController.$el, 1, {
      xPercent: -100,
      autoAlpha: 0,
      ease: Elastic.easeIn,
    });
  }

   /**
   * @public
   * @method setupLoopingAnimationTimeline
   * @param {TimelineMax} timeline
   * @description overwrite this method in the parent class
   * */
  public setupLoopingAnimationTimeline(timeline:TimelineMax): void {

  }
}
</pre>
      </section>
    </div>
  </div>
</main>
</body>
<script src="./bundle.js"></script>
</html>
