language: node_js

dist: trusty

cache: yarn

node_js:
  - '9'
  - '8'

sudo: false

before_install:
  - yarn global add npm-run-all
  - yarn global add codeclimate-test-reporter
  - pyenv versions
  - pyenv local 2.7.14
  - pip install --user mkdocs

script:
  - yarn test

after_script:
  - codeclimate-test-reporter < coverage/lcov.info
  - node_modules/.bin/coveralls < coverage/lcov.info

deploy:
  - provider: npm
    email: 'larsvanbraam@gmail.com'
    api_key: $NPM_TOKEN
    on:
      tags: true
      node: '8'
    skip_cleanup: true
  - provider: script
    script: yarn deploy-docs --host=$SFTP_HOST --port=$SFTP_PORT --serverPath=$SFTP_SERVER_PATH --username=$SFTP_USERNAME --privateKey=$SFTP_KEY
    skip_cleanup: true
    on:
      branch: master


addons:
  code_climate:
    repo_token:
      secure: 'aFbsx9JzryWQGObCEUJC8hitkIWOmM1pRXbI6M10k4ovKCbWQAI32DcGM670iylU4MXXzk4Lv3FUgxuQ+ixeQ7wzPcnbNOnFpHtJBPBDv5guzhMv0XA3Boe4cVxC19+7uc+nHQCKp0vatR/kJrLJkMB2W0gLWbFIqWTpAuNk57YFl0M4zaMK3EjQRT68fYXDjaJ/gArnBUJ6s+RCU2RtWgXId76lfIaKDuFE7H//gEbhgzdniObdbYoSBGuk7reKG7K4krt25wnu8OaxpZhrSHLo5iqJlQqt1sObtVoPf/rlDMApnTNR1SrbrVRwWOqgZaoPZzz1tZ9b/c/B8vCskNNtybMPS+kkl4Nhu1dv+EFjXyVK1TqMwV1OJ0VlBXMzCoduk7y1fPLRw4StYXChra8h2LdGPXLzisS++NnbH6qgDIxdHA8i8zButWjFroYov9x++FTVizgNMrkqOfm1+/4GdkjPSul993VXI06AaZMpD4jl5GhzTd65zxOXkMndNDtAzs3XKHoZVdo9+qBPX6uqtY6DZ9d18mnw2meeHzvvSq5VPKHVxLP9xIJ0h8wYg6QL6sKMnWskkcCqi/xGAfvvqt69u+RHARFsWdqqoNkipHBdAY2cTgqZ9IfHCzjOuX/UPkPB6RSqLctX/C/q8K0836d7LhKQap144ChPRQM='
